.vs/
bin/
build/
/Life_Insurance_API/obj/Debug/net8.0/apphost.exe
/Life_Insurance_API/obj/Debug/net8.0/EndpointInfo/Life_Insurance_API.json
/Life_Insurance_API/obj/Debug/net8.0/Life_Insurance_API.csproj.CoreCompileInputs.cache
/Life_Insurance_API/obj/Debug/net8.0/Life_Insurance_API.dll
/Life_Insurance_API/obj/Debug/net8.0/Life_Insurance_API.pdb
/Life_Insurance_API/obj/Debug/net8.0/Life_Insurance_API.sourcelink.json
/Life_Insurance_API/obj/Debug/net8.0/ref/Life_Insurance_API.dll
/Life_Insurance_API/obj/Debug/net8.0/refint/Life_Insurance_API.dll
/Life_Insurance_API/obj/Debug/net8.0/Life_Insurance_API.AssemblyInfo.cs
/Life_Insurance_API/obj/Debug/net8.0/Life_Insurance_API.AssemblyInfoInputs.cache
