:root {
  --primary-color: #003C63;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--primary-color);
}

.form-label {
  margin-left: 2rem;
  color: var(--primary-color);
  font-weight: 500;
}

